
.game {
    width: 900px;
    margin:0 auto ;
     border: 1px solid 
}
.game .game-title{
    width: 900px ;
     height: 100px ;
     background: indianred
}


.game .game-board {
    width: 450px;
    height: 550px ;
    background:whitesmoke;
    float:left
}

.game .game-board .game-board-sub1{
    width: 450px;
    height: 400px ;
     float:left
}

.game .game-board .game-board-sub2{
    width: 450px;
    height: 155px;
     float:left;
     text-align:center
}

.game .game-status {
    width:450px ;
     height: 555px ;
      background:silver ;
       float:left
}

.board {
    border: 4px solid darkblue;
    width: 210px;
    height: 210px;
    margin: 0 auto;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    position:absolute;
    left: 25.5%;
    top: 35%;
}

.square {
    background:#669999;
    border: 2px solid darkblue;
    width:70px;
    height:70px;
    font-size: 60px;
    cursor: pointer;
    outline: none;
} 